body {
    background: url(https://viewbug_com.s3.amazonaws.com/media/images/contests/contest6917_banner.png)
  }

.card {       
float: left;
padding: 20px;
margin: 20px;
}

h1, p {
    margin: 20px;
}

.form-group {
margin-top: 20px;  
}
